/*ABOUT*/
.cid-u0GcCzeIuC {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
}
.cid-u0GcCzeIuC .mbr-fallback-image.disabled {
    display: none;
}
.cid-u0GcCzeIuC .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
@media (max-width: 991px) {
    .cid-u0GcCzeIuC .image-wrapper {
        margin-bottom: 2rem;
    }
}
.cid-u0GcCzeIuC .row {
    align-items: center;
}
@media (max-width: 991px) {
    .cid-u0GcCzeIuC .image-wrapper {
        padding: 1rem;
    }
}
@media (min-width: 992px) {
    .cid-u0GcCzeIuC .text-wrapper {
        padding: 0 2rem;
    }
}
.cid-u0GcCzeIuC .mbr-section-title {
    color: #000000;
}
.cid-u0GcCzeIuC .mbr-text,
.cid-u0GcCzeIuC .mbr-section-btn {
    color: #000000;
}










/*JOIN THE FUN*/
 .cid-u0GcCzfkxL {
     padding-top: 5rem;
     padding-bottom: 5rem;
     background-color: transparent;
 }

.cid-u0GcCzfkxL .mbr-fallback-image.disabled {
    display: none;
}

.cid-u0GcCzfkxL .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-u0GcCzfkxL{
    background: black;
}

.card-wrapper {
    background: #ffffff;
}

@media (max-width: 767px) {
    .cid-u0GcCzfkxL .card-wrapper {
        padding: 2rem 1.5rem;
        margin-bottom: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .cid-u0GcCzfkxL .card-wrapper {
        padding: 2.25rem;
    }
}

@media (min-width: 992px) {
    .cid-u0GcCzfkxL .card-wrapper {
        padding: 4rem;
    }
}

.cid-u0GcCzfkxL .mbr-text,
.cid-u0GcCzfkxL .mbr-section-btn {
    text-align: center;
}


/*SOME TEXT*/


 .cid-u0GcCzg2Kk {
     padding-top: 5rem;
     padding-bottom: 5rem;
     /*background: url("assets/images/bg_fricco_white.png") fixed;*/
    /*background-size: cover;*/
    /* background-position: center;*/
     background: #c7c3c3;
 }

.cid-u0GcCzg2Kk .mbr-section-title {
    text-align: center;
    color: var(--dominant-color, #000000);
}


/*PRE LOADER*/

.centered{
    width:400px;
    height:400px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:#000;
    filter: blur(10px) contrast(20);
}
.blob-1,.blob-2{
    width:70px;
    height:70px;
    position:absolute;
    background:#fff;
    border-radius:50%;
    top:50%;left:50%;
    transform:translate(-50%,-50%);
}
.blob-1{
    left:20%;
    animation:osc-l 2.5s ease infinite;
}
.blob-2{
    left:80%;
    animation:osc-r 2.5s ease infinite;
    background:#0ff;
}
@keyframes osc-l{
    0%{left:20%;}
    50%{left:50%;}
    100%{left:20%;}
}
@keyframes osc-r{
    0%{left:80%;}
    50%{left:50%;}
    100%{left:80%;}
}