/*ABOUT*/
.cid-u0GcCzeIuC {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
}
.cid-u0GcCzeIuC .mbr-fallback-image.disabled {
    display: none;
}
.cid-u0GcCzeIuC .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
@media (max-width: 991px) {
    .cid-u0GcCzeIuC .image-wrapper {
        margin-bottom: 2rem;
    }
}
.cid-u0GcCzeIuC .row {
    align-items: center;
}
@media (max-width: 991px) {
    .cid-u0GcCzeIuC .image-wrapper {
        padding: 1rem;
    }
}
@media (min-width: 992px) {
    .cid-u0GcCzeIuC .text-wrapper {
        padding: 0 2rem;
    }
}
.cid-u0GcCzeIuC .mbr-section-title {
    color: #000000;
}
.cid-u0GcCzeIuC .mbr-text,
.cid-u0GcCzeIuC .mbr-section-btn {
    color: #000000;
}










/*JOIN THE FUN*/
 .cid-u0GcCzfkxL {
     padding-top: 5rem;
     padding-bottom: 5rem;
     background-color: transparent;
 }

.cid-u0GcCzfkxL .mbr-fallback-image.disabled {
    display: none;
}

.cid-u0GcCzfkxL .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-u0GcCzfkxL{
    background: black;
}

.card-wrapper {
    background: #ffffff;
}

@media (max-width: 767px) {
    .cid-u0GcCzfkxL .card-wrapper {
        padding: 2rem 1.5rem;
        margin-bottom: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .cid-u0GcCzfkxL .card-wrapper {
        padding: 2.25rem;
    }
}

@media (min-width: 992px) {
    .cid-u0GcCzfkxL .card-wrapper {
        padding: 4rem;
    }
}

.cid-u0GcCzfkxL .mbr-text,
.cid-u0GcCzfkxL .mbr-section-btn {
    text-align: center;
}


/*SOME TEXT*/


 .cid-u0GcCzg2Kk {
     padding-top: 5rem;
     padding-bottom: 5rem;
     background-color: #ffffff;
 }

.cid-u0GcCzg2Kk .mbr-section-title {
    text-align: center;
    color: var(--dominant-color, #393193);
}
