/*FOLLOW US SOCIALS*/
.cid-u0GcCzhsQ7 {
    padding-top: 1.5rem;
    padding-bottom: 3.5rem;
    background-color: #6F4E37;
}
.cid-u0GcCzhsQ7 .social-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cid-u0GcCzhsQ7 .social-row .soc-item {
    margin: 8px;
}
.cid-u0GcCzhsQ7 .social-row .soc-item a:hover .mbr-iconfont,
.cid-u0GcCzhsQ7 .social-row .soc-item a:focus .mbr-iconfont {
    background-color: #f7f7f7;
}
.cid-u0GcCzhsQ7 .social-row .soc-item a .mbr-iconfont {
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 32px;
    background-color: #f7f7f7;
    color: var(--primary-color, #393193);
    transition: all 0.3s ease-in-out;
}
.cid-u0GcCzhsQ7 .row-links {
    width: 100%;
    justify-content: center;
}
.cid-u0GcCzhsQ7 .mbr-section-title {
    color: #ffffff;
}
.cid-u0GcCzhsQ7 .mbr-section-title,
.cid-u0GcCzhsQ7 .social-list {
    color: #000000;
}

.footer_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (min-width: 768px ) and (max-width: 968px) {
    .footer_flex p {
        font-size: 1em;

    }

}

@media (max-width: 768px) {
    .footer_flex p {
        font-size: 0.75em;

    }
}





 /*GOOGLE MAPS*/

 .cid-u0GcCzhYQF .main_wrapper {
     position: relative;
     height: 800px;
     width: 100%;
 }
.cid-u0GcCzhYQF .b_wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    pointer-events: none;
}
@media (max-width: 991px) {
    .cid-u0GcCzhYQF .b_wrapper {
        position: relative;
        width: 100%;
        height: auto !important;
        flex-direction: column;
    }
}
.cid-u0GcCzhYQF .row {
    margin: 0;
}
@media (max-width: 991px) {
    .cid-u0GcCzhYQF .container-fluid {
        padding: 0;
    }
}
.cid-u0GcCzhYQF .item-wrapper {
    height: 100%;
    background-color: #ffffff;
    pointer-events: fill;
    padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
    .cid-u0GcCzhYQF .item-wrapper {
        padding: 1.5rem;
    }
}
@media (max-width: 991px) {
    .cid-u0GcCzhYQF .item-wrapper {
        width: 100%;
        position: relative;
        padding: 2rem;
        border-radius: 0px !important;
    }
}
.cid-u0GcCzhYQF .google-map {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.cid-u0GcCzhYQF .google-map iframe {
    height: 100%;
    width: 100%;
    border-radius: 0px !important;
}
.cid-u0GcCzhYQF .google-map [data-state-details] {
    color: #edefeb;
    height: 1.5em;
    margin-top: -0.75em;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}
.cid-u0GcCzhYQF .google-map[data-state] {
    background: #edefeb;
}
.cid-u0GcCzhYQF .google-map[data-state="loading"] [data-state-details] {
    display: none;
}
@media (max-width: 991px) {
    .cid-u0GcCzhYQF .google-map {
        position: static;
    }
}
.cid-u0GcCzhYQF ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
