/*HEADER*/

.cid-u0GcCzeVte {
    display: flex;
}
@media (min-width: 768px) {
    .cid-u0GcCzeVte {
        align-items: flex-end;
    }
    .cid-u0GcCzeVte .row {
        justify-content: flex-start;
    }
    .cid-u0GcCzeVte .content-wrap {
        padding: 1rem 3rem;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .cid-u0GcCzeVte .content-wrap {
        min-width: 50%;
    }
}
@media (max-width: 767px) {
    .cid-u0GcCzeVte {
        -webkit-align-items: center;
        /*align-items: flex-end;*/
    }
    .cid-u0GcCzeVte .mbr-row {
        -webkit-justify-content: center;
        justify-content: center;
    }
    .cid-u0GcCzeVte .content-wrap {
        width: 100%;
    }
}
.cid-u0GcCzeVte .mbr-fallback-image.disabled {
    display: none;
}
.cid-u0GcCzeVte .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: #000000;
}
.cid-u0GcCzeVte .mbr-section-title,
.cid-u0GcCzeVte .mbr-section-subtitle {
    text-align: left;
    color: #FFF8DC; /* Header color*/
}
.cid-u0GcCzeVte .mbr-text,
.cid-u0GcCzeVte .mbr-section-btn {
    text-align: left;
    color: #8B795E;
    /*font-size: 40px;*/
}


.mbr-fullscreen{
    background: url("assets/images/photo-1481833761820-0509d3217039.jpeg");
    background-size: cover;
}

@media (min-width: 768px)  {
    /*font-size: 2em;*/
    .cid-u0GcCzeVte .mbr-text,
    .cid-u0GcCzeVte .mbr-section-btn {
        font-size: 3em;
    }
}


.btn-white-outline,
.btn-white-outline:active {
    /*margin-top: 20%;*/
    background-color: black !important;
    /*border-color: #fafafa;*/

    color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
    scale: 1.2;
    /*font-size: 1em;*/
    /*color: rgba(255, 255, 255, 0.8) !important;*/
    background-color: black!important;
    /*border-color: rgba(255, 255, 255, 0.8) !important;*/
    box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
    color: #6E6E6ECC !important;
    background-color: #6E6E6ECC !important;
    border-color: #6E6E6ECC !important;
}