/*SLIDER*/
.cid-u0GcCzgikL {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background: #4B3B28;
}
.cid-u0GcCzgikL .mbr-fallback-image.disabled {
    display: none;
}
.cid-u0GcCzgikL .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
@media (min-width: 768px) {
    .cid-u0GcCzgikL .container-fluid {
        padding: 0;
    }
}
.cid-u0GcCzgikL .embla__slide {
    position: relative;
    min-width: 490px;
    max-width: 490px;
}
@media (max-width: 768px) {
    .cid-u0GcCzgikL .embla__slide {
        min-width: 100%;
        max-width: 100%;
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
}
.cid-u0GcCzgikL .embla__slide a {
    display: block;
    width: 100%;
}
.cid-u0GcCzgikL .embla__button--next,
.cid-u0GcCzgikL .embla__button--prev {
    display: flex;
}
.cid-u0GcCzgikL .mobi-mbri-arrow-next {
    margin-left: 5px;
}
.cid-u0GcCzgikL .mobi-mbri-arrow-prev {
    margin-right: 5px;
}
.cid-u0GcCzgikL .embla__button {
    top: 50%;
    width: 60px;
    height: 60px;
    margin-top: -1.5rem;
    font-size: 22px;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: all 0.3s;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cid-u0GcCzgikL .embla__button:disabled {
    cursor: default;
    display: none;
}
.cid-u0GcCzgikL .embla__button.embla__button--prev {
    left: 0;
    margin-left: 2.5rem;
}
.cid-u0GcCzgikL .embla__button.embla__button--next {
    right: 0;
    margin-right: 2.5rem;
}
@media (max-width: 767px) {
    .cid-u0GcCzgikL .embla__button {
        top: auto;
        bottom: 1rem;
    }
}
.cid-u0GcCzgikL .embla {
    position: relative;
    width: 100%;
}
.cid-u0GcCzgikL .embla__viewport {
    overflow: hidden;
    width: 100%;
}
.cid-u0GcCzgikL .embla__viewport.is-draggable {
    cursor: grab;
}
.cid-u0GcCzgikL .embla__viewport.is-dragging {
    cursor: grabbing;
}
.cid-u0GcCzgikL .embla__slide a {
    cursor: grab;
}
.cid-u0GcCzgikL .embla__slide a:active {
    cursor: grabbing;
}
.cid-u0GcCzgikL .embla__container {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.cid-u0GcCzgikL .item-menu-overlay {
    border-radius: 2rem;
}
.cid-u0GcCzgikL .mbr-section-title {
    color: #232323;
}
.cid-u0GcCzgikL .mbr-section-subtitle {
    color: #232323;
}
.cid-u0GcCzgikL .mbr-box {
    color: #ffffff;
}
.cid-u0GcCzgikL .slide-content {
    position: relative;
    border-radius: 4px;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-flow: column nowrap;
}
.cid-u0GcCzgikL img,
.cid-u0GcCzgikL .item-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.cid-u0GcCzgikL .item-wrapper {
    position: relative;
}
.cid-u0GcCzgikL .content-head {
    max-width: 800px;
}
